  .body{
    overflow:hidden;
  }
 .headerbar{
    background-color: aliceblue;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2%;
    font-size:larger;
 }
 .pagename{
     font-weight:500 ;
 }
 .navigationbar{
     text-align:right;
     
 }
 .navigationbar ul{
     list-style: none;
     font-size: medium;
     color: crimson;
     
 }
 .navigationbar li{
    float: left;
     padding: 10px;
 }
 .navigationbar a:hover{
     color: white;
     background-color:rgb(4, 6, 8);
     opacity: 0.7;
 }
 
 .middleblockdiv1p1{
     color: black;
     float: left;
     width:20%;
     padding: 2.5%;
     background-color:white;
     font-size: larger;
     margin-left: 10%;
     font-family: "Sofia", sans-serif;
     opacity: 0.9;
     
 }
   #middleblockdiv1p1id1{
    border: 5px solid brown;
    box-shadow: 5px 10px yellow;
   }
   .middleblockdiv1p2{
    color: black;
    float: right;
    width:20%;
    padding: 2.5%;
    background-color:white;
    font-size: larger;
    margin-right: 10%;
    font-family: "Sofia", sans-serif;
    opacity: 0.9;
    
}
  #middleblockdiv1p1id2{
   border: 5px solid brown;
   box-shadow: 5px 10px yellow;
  }
  .hobbiesheading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 80px;
    color: whitesmoke;
    margin-bottom: 0%;
  }
  .middleblock2{
    float: left;
    width: 100%;
    height: 40%;
    background-color: #0A1172;
    margin-bottom: 10%;
    display:grid;
    align-content: start;
    grid-template-columns: 30% 30% 30%;
    grid-auto-rows: auto;
    grid-auto-columns: max-content;
    justify-content: space-evenly;
    
  }
 
  .hobbiesboxes{
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: azure;
    padding: 2.5%;
    font-family: 'Lobster', cursive;
    font-size: large;
  }

  #hobbiesboxes{
    border: 5px solid cyan;
   box-shadow: 5px 10px blue;
  }
  .interestedfields{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 80px;
    color: whitesmoke;
    margin-bottom: 0%;
  }
  #interestedfieldsboxes{
    border: 5px solid red;
   box-shadow: 5px 10px yellow;
  }
  .middleblock4{
    float: left;
    width: 100%;
    height: 40%;
    background-color:orange;
    margin-bottom: 10%;
    display:grid;
    align-content: start;
    grid-template-columns: 30% 30% 30%;
    grid-auto-rows: auto;
    grid-auto-columns: max-content;
    justify-content: space-evenly;
    
  }
  .webdev{
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: azure;
    padding: 2.5%;
    font-family: 'Lobster', cursive;
    font-size: large;
  }
  .androiddev{
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: azure;
    padding: 2.5%;
    font-family: 'Lobster', cursive;
    font-size: large;
  }
  .gamedev{
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: azure;
    padding: 2.5%;
    font-family: 'Lobster', cursive;
    font-size: large;
  }
  .machinelearning{
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: azure;
    padding: 2.5%;
    font-family: 'Lobster', cursive;
    font-size: large;
  }
  .cybersecurity{
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: azure;
    padding: 2.5%;
    font-family: 'Lobster', cursive;
    font-size: large;
  }
 
  .penguin {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 5%;
    width: 300px;
    height: 300px;
  }

  .penguin-top {
    top: 10%;
    left: 25%;
    background: brown;
    width: 50%;
    height: 45%;
    border-radius: 70% 70% 60% 60%;
  }

  .penguin-bottom {
    top: 40%;
    left: 23.5%;
    background: brown;
    width: 53%;
    height: 45%;
    border-radius: 70% 70% 100% 100%;
  }

  .right-hand {
    top: 0%;
    left: -10%;
    background: brown;
    width: 30%;
    height: 60%;
    border-radius: 30% 30% 120% 30%;
    transform: rotate(125deg);
    z-index: -1;
  }

  .left-hand {
    top: 0%;
    left: 75%;
    background: brown;
    width: 30%;
    height: 60%;
    border-radius: 30% 30% 30% 120%;
    transform: rotate(-45deg);
    z-index: -1;
  }

  .right-cheek {
    top: 15%;
    left: 35%;
    background: #e1c759;
    width: 60%;
    height: 70%;
    border-radius: 70% 70% 60% 60%;
  }

  .left-cheek {
    top: 15%;
    left: 5%;
    background: #e1c759;
    width: 60%;
    height: 70%;
    border-radius: 70% 70% 60% 60%;
  }

  .belly {
    top: 60%;
    left: 2.5%;
    background: #e1c759;
    width: 95%;
    height: 100%;
    border-radius: 120% 120% 100% 100%;
  }
  

  .right-feet {
    top: 85%;
    left: 60%;
    background: orange;
    width: 15%;
    height: 30%;
    border-radius: 50% 50% 50% 50%;
    transform: rotate(-80deg);
    z-index: -2222;
  }

  .left-feet {
    top: 85%;
    left: 25%;
    background: orange;
    width: 15%;
    height: 30%;
    border-radius: 50% 50% 50% 50%;
    transform: rotate(80deg);
    z-index: -2222;
  }

  .right-eye {
    top: 30%;
    left: 60%;
    background: black;
    width: 20%;
    height: 38%;
    border-radius: 50%;
  }

  .left-eye {
    top: 30%;
    left: 20%;
    background: black;
    width: 20%;
    height: 38%;
    border-radius: 50%;
  }
  .sparkle2{
    top: 10%;
    left: 10%;
    background: orange;
    width: 80%;
    height: 80%;
    border-radius: 50%;
  }
  .innerblack{
    top: 20%;
    left: 0%;
    background: black;
    width: 80%;
    height: 80%;
    border-radius: 50%;
  }

  .sparkle {
    top: 30%;
    left: 30%;
    background: white;
    width: 35%;
    height: 35%;
    border-radius: 50%;
  }

  .beak-top {
    top: 70%;
    left: 40%;
    background: BROWN;
    width: 20%;
    height: 20%;
    border-radius: 120% 30%;
    transform: rotate(132deg);
    
  }

  body {
    background: black;
  }

  .penguin * {
    position: absolute;
  }

